# Name: SCF ImgTools Image Analysis Toolbox


SCF>Labeling,         "Constraint labels in a label map (2D, 3D)",                                de.mpicbg.scf.fijiplugins.ui.labelmap.ConstraintLabelingPlugin
SCF>Labeling,         "Apply binary opening to a label map (2D, 3D)",                             de.mpicbg.scf.fijiplugins.ui.labelmap.LabelmapOpeningPlugin

SCF>Segmentation,      "Brush tool (2D)",                                                         de.mpicbg.scf.fijiplugins.ui.roi.BrushPluginTool
SCF>Segmentation,      "LabelMap to ROI Manager (2D)",                                            de.mpicbg.scf.fijiplugins.ui.roi.LabelMapToRoiManagerPlugin
SCF>Segmentation,      "ROI Manager to LabelMap(2D)",                                            de.mpicbg.scf.fijiplugins.ui.labelmap.RoiManagerToLabelMapPlugin
SCF>Segmentation,      "Points to LabelMap (2D)",                                                 de.mpicbg.scf.fijiplugins.ui.labelmap.PointsToLabelmapPlugin

SCF>Experimental>Utilities,         "Debug Options_",                                                           de.mpicbg.scf.imgtools.ui.DebugHelper

