# Name: SCF ImgTools Image Analysis Toolbox


SCF>Labeling,         "Constraint labels in a label image (2D, 3D)",                                de.mpicbg.scf.fijiplugins.ui.labelmap.ConstraintLabelingPlugin
SCF>Labeling,         "Apply binary opening to a label image (2D, 3D)",                             de.mpicbg.scf.fijiplugins.ui.labelmap.LabelmapOpeningPlugin

SCF>Segmentation,      "Brush selection tool (2D)",                                                           de.mpicbg.scf.fijiplugins.ui.roi.BrushPluginTool
SCF>Segmentation,      "LabelImage to ROI Manager (2D)",                                            de.mpicbg.scf.fijiplugins.ui.roi.LabelMapToRoiManagerPlugin
SCF>Segmentation,      "ROI Manager to LabelImage (2D)",                                            de.mpicbg.scf.fijiplugins.ui.labelmap.RoiManagerToLabelMapPlugin
SCF>Segmentation,      "Points to LabelImage (2D)",                                                 de.mpicbg.scf.fijiplugins.ui.labelmap.PointsToLabelmapPlugin

SCF>Experimental>Utilities,         "Set Debug Options_",                                                           de.mpicbg.scf.imgtools.ui.DebugHelper

